<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.skhu.mapper.DistrictMapper">


  <select id="findAll" resultType="District">
    SELECT *  FROM District
  </select>
  
  <select id="findAllWithCitys" resultMap="resultMap1">
    SELECT d.*, 
           c.id cityId, c.name, c.population 
    FROM District d LEFT JOIN City c ON d.id = c.districtId
  </select>

  <resultMap id="resultMap1" type="District">
    <id property="id" column="id" />
    <result property="districtName" column="districtName" />
    <collection property="citys" ofType="City">
      <id property="id" column="cityId" />
        <result property="name" column="name"/>
      	<result property="population" column="population"/>
   
    </collection>
  </resultMap>
    
  
    
  <update id="update">
   UPDATE District SET
   	districtName = #{districtName}
   WHERE id = #{id}
  </update>
  
  </mapper>